modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_USER_IDS = "user_3DPe3tB5JFDHazj6xM2F2E72jYh,user_3DZswzvrN88fZSKNbiRItsJHje6"
VITE_ADMIN_USER_IDS = "user_3DPe3tB5JFDHazj6xM2F2E72jYh,user_3DZswzvrN88fZSKNbiRItsJHje6"
GOOGLE_SHEET_ID = "1RIh_80qnHsIVKEqsXp5S4WwzatdULK_bN3o1IhHgIlk"
ADMIN_PASSWORD = "TwinTrack2024!"
VITE_ADMIN_PASSWORD = "TwinTrack2024!"
VAPID_PUBLIC_KEY = "BEmqIEm3x5Bpu5Ti9RqXWz74AAAhJFEPcKjZzNNCPqnR_7iMogOC2KDbZgkKMdc0wqs0tYosqlxSu2RDox8LCJo"
VAPID_PRIVATE_KEY = "-YNywLvX42VCHX7bdg-92MN3O-I6l_YGetM1gvzkHRw"
VAPID_SUBJECT = "mailto:hello@allaboutwins.com"
VITE_PREMIUM_ENABLED = "false"
REVENUECAT_PROJECT_ID = "proj09a461ed"
REVENUECAT_TEST_STORE_APP_ID = ""
REVENUECAT_APPLE_APP_STORE_APP_ID = "app926b0abdbc"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "apped48b563ab"
VITE_REVENUECAT_TEST_API_KEY = ""
VITE_REVENUECAT_IOS_API_KEY = "appl_spJzpJipDcGAVtiRGqTjXFWUEzq"
VITE_REVENUECAT_ANDROID_API_KEY = "goog_cWFQbvEiYwoYmMCRpuDHlKrZFku"
PAYPAL_WEBHOOK_ID = "0WD335275H194884P"
PAYPAL_ENV = "live"
